@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flexCenter {
        @apply flex justify-center items-center;
    }

    .flex-right-center {
        @apply flex justify-end items-center;
    }

    @keyframes slow-ping {
        75%,
        100% {
            transform: scale(1.8);
            opacity: 0;
        }
    }

    .animate-slow-ping {
        animation: slow-ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
    }
}

@layer components {
    .swiper-pagination-bullet {
        @apply bg-gray-400 w-4 h-4 rounded-full opacity-70 transition-all !important;
    }

    .swiper-pagination-bullet-active {
        @apply bg-gray-600 opacity-100;
    }
}
