@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *::before,
    *::after {
        box-sizing: border-box;
    }
    body {
        font-family: "Roboto", sans-serif !important;
    }
}
/* DI CHUYỂN ĐOẠN MÃ NÀY RA NGOÀI @layer base */

/* For Webkit browsers (Chrome, Safari, Edge, Opera) */
.custom-scrollbar::-webkit-scrollbar {
    width: 2px; /* Chỉnh chiều rộng mỏng hơn */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin; /* "thin" đã là mỏng nhất cho Firefox */
    scrollbar-color: #888 #f1f1f1;
}
